<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fg="http://www.firegiant.com/schemas/v3/wxs/fgwep.xsd">
  <Fragment>
    <ComponentGroup Id='GitComponents'>
      <Component Directory='BinFolder'>
        <fg:HarvestFile Id='git.exe' Source='..\..\files\bin\git.exe' />
      </Component>
      <Component Directory='INSTALLFOLDER'>
        <fg:HarvestFolder Source='..\..\files\' Strategy='contentFileComponentsWithGeneratedKeyPath' />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id='GitCredentialManager' Directory='Mingw32BinFolder'>
      <Component>
        <fg:HarvestFile Id='CredManagerFile' Source='..\..\files\mingw32\bin\git-credential-manager-core.exe' />
      </Component>
    </ComponentGroup>

    <CustomActionRef Id='InstallGitCredentialManager' />
  </Fragment>

  <Fragment>
    <SetProperty Id='InstallGitCredentialManager' Value='"[#CredManagerFile]" configure --system'
                 Before='InstallGitCredentialManager' Sequence='execute' />
    <CustomAction Id='InstallGitCredentialManager' BinaryKey='WixCA' DllEntry='WixQuietExec'
                  Execute='deferred' Return='ignore' Impersonate='yes'/>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED" />

    <InstallExecuteSequence>
        <Custom Action='InstallGitCredentialManager' Before='InstallFinalize'>NOT Installed AND WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
