<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fg="http://www.firegiant.com/schemas/v3/wxs/fgwep.xsd">
  <Fragment>
        <ComponentGroup Id="GitPoshComponents" Directory="GitPoshFolder">
            <Component>
              <fg:HarvestFile Source='..\..\lib\posh-git\src\posh-git.psm1' />
              <Environment Id='UpdatePSModulePath' Name='PSModulePath' Value='[GitPowershellModulesFolder]' Action='set' Part='last' System='yes' />
            </Component>
            <Component>
              <fg:HarvestFolder Source='..\..\lib\posh-git\src\' />
            </Component>
            <Component>
                <File Source="posh-git\LICENSE.txt" />
            </Component>
            <Component>
                <File Source="posh-git\profile.example.ps1" />
            </Component>
            <Component>
                <File Source="posh-git\README.md" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <DirectoryRef Id='INSTALLFOLDER'>
            <Directory Id='GitPowershellFolder' Name='Powershell'>
                <Directory Id='GitPowershellModulesFolder' Name='Modules'>
                    <Directory Id='GitPoshFolder' Name='posh-git' />
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
