<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- bin folder -->
        <ComponentGroup Id="GitFlowComponents" Directory="dir7307A6085BD4ABD9B8955C093FD541F5">
            <Component>
                <File Source="gitflow\git-flow" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-feature" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-hotfix" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-init" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-release" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-support" />
            </Component>
            <Component>
                <File Source="gitflow\git-flow-version" />
            </Component>
            <Component>
                <File Source="gitflow\gitflow-common" />
            </Component>
            <Component>
                <File Name="gitflow-shFlags" Source="gitflow\shFlags\src\shflags" />
            </Component>

            <ComponentGroupRef Id="GitFlowDependencyComponents" />
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="GitFlowDependencyComponents" Directory="dir7307A6085BD4ABD9B8955C093FD541F5">
            <Component>
                <File Source="gitflow_dependencies\getopt.exe" />
            </Component>
            <Component>
                <File Source="gitflow_dependencies\libintl3.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
